.container {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/spring.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.weather_component {
  display: flex;
  flex-direction: column;
}
.flex-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
  background: $weatherbg;
  border-radius: 25px;
  border: 2px solid $degreeColor;
}
.celfahr {
  background: $degreeColor;
  border-radius: 15px;
  color: white;
  
}
.degrees {
  color: $degreeColor;
  font-size: 1.2em;
}
.weather_icon {
  width: 50px;
  height: 50px;
}
.weather_icon > img {
  width: 50px;
  height: 50px;
}