.container {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/spring.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.weather_component {
  display: flex;
  flex-direction: column;
}
.flex-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}
.celfahr {
  background: $buttonbg;
  border-radius: 15px;
  
}
.degrees {
  color: hsla(231, 48%, 48%, 1);
  width: 200px;
  padding-right: 20px;
}