doctype html
html(lang="en")
  include ./jade/head.jade
  body
    .container
      header This is a header
      h1 Testin out jade
      p What does this do? this time?
      .flexy
        p.flexing Done!
        p.flexing Work1
        p.flexing Work2
        p.flexing Work3
      include ./jade/foot.jade
